<div class="container mt-5">
  <div class="d-flex">
    <div class="p-2 flex-shrink-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Name</h5>
          <hr class="hr" />
          <div class="list-group list-group-light">
            <a
              href="#"
              class="list-group-item list-group-item-action px-3 border-0 active"
              aria-current="true"
              >Profile</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action px-3 border-0"
              >My properties</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action px-3 border-0"
              >Favorites</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action px-3 border-0"
              >Submit Property</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action px-3 border-0"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--Table properties-->
    <div class="p-2 w-100">
      <div *ngIf="cart.items.length" class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Property</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th>
                  <button
                  (click)="onClearCart()"
                  type="button" class="btn btn-warning">
                    Clear all
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataProperty of dataSource">
                <th scope="row">{{ dataProperty.id }}</th>
                <td>
                  <img
                    src="{{ dataProperty.propertyImg }}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                  />
                </td>
                <td>{{ dataProperty.property }}</td>
                <td>{{ dataProperty.type }}</td>
                <td>{{ dataProperty.price | currency }}</td>
                <td class="text-center">
                  <button
                  (click)="onRemoveFromCart(dataProperty)"
                  type="button" class="btn btn-danger btn-floating">
                    <i class="fas fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div *ngIf="cart.items.length" class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-info" routerLink="">
                    Continue Shopping
                  </button>
                  <button
                    type="button"
                    class="btn text-white"
                    style="background-color: #ac2bac"
                  >
                    I'm interested
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
