

.people-saying{
    background-image: linear-gradient(rgba(218, 218, 218, 0.733),rgba(218, 218, 218, 0.432)), url("../../../assets/images/interior-design.jpg");
    bottom: 0;
}
.img-cites{
    margin:0 auto;
}