<div class="bg-image">
  <img src="../../../assets/images/house-key.jpg" class="w-100" alt="Sample" />
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="row">
        <p class="text-white mb-0 h1 text-center">About Us</p>
        <p class="text-white text-center">We help you find your house key</p>
      </div>
    </div>
  </div>
</div>
<!--Card-->
<div class="container-fluid">
  <div
    class="card border-top card-subheader border-4 border-primary shadow-2 mb-3 pb-3"
  >
    <div class="card-body">
      <h3 class="card-title text-center"><u>OUR STORY</u></h3>
      <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore fuga,
        ullam omnis eius saepe a delectus dolor ipsam, repellendus consequuntur
        minima, numquam deleniti inventore nobis modi quod harum. Ut, voluptate.
      </p>

      <div class="row">
        <div class="col-sm-6 mt-2">
          <h4 class="card-subtitle mb-2">
            <i class="far fa-building fa-2x text-primary"></i> About Company
          </h4>
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus
            omnis, qui alias itaque quidem quam delectus explicabo laborum, hic
            aperiam animi dolores sed facilis recusandae doloribus soluta
            repudiandae voluptatem! Fugiat quae optio omnis laboriosam quod
            consectetur impedit recusandae itaque iure, repellat minima quis
            eaque beatae consequuntur sunt explicabo porro aliquid, perferendis
            harum deserunt corrupti exercitationem, iusto veniam tempora. Iure.
            Labore officiis fugit eaque? Laudantium voluptatum consectetur id,
            rem odio similique itaque et impedit necessitatibus a quis nulla
            delectus, neque ullam voluptas eligendi veritatis sit soluta
            dignissimos numquam. Temporibus, repellendus?
          </p>
        </div>
        <div class="col-sm-6 mt-2">
          <h4 class="card-subtitle mb-2">
            <i class="far fa-list-alt fa-2x text-primary"></i> Vision
          </h4>
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus
            omnis, qui alias itaque quidem quam delectus explicabo laborum, hic
            aperiam animi dolores sed facilis recusandae doloribus soluta
            repudiandae voluptatem! Fugiat quae optio omnis laboriosam quod
            consectetur impedit recusandae itaque iure, repellat minima quis
            eaque beatae consequuntur sunt explicabo porro aliquid, perferendis
            harum deserunt corrupti exercitationem, iusto veniam tempora. Iure.
            Labore officiis fugit eaque? Laudantium voluptatum consectetur id,
            rem odio similique itaque et impedit necessitatibus a quis nulla
            delectus, neque ullam voluptas eligendi veritatis sit soluta
            dignissimos numquam. Temporibus, repellendus?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="our-mision">

      <div class="container-fluid mt-4">
        <h2 class="text-center mt-4"><u>OUR MISION</u></h2>
        <!--card mission-->
        <div class="card mt-3">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block d-xl-none">
              <img
                src="../../../assets/images/team.jpg"
                alt="Trendy Pants and Shoes"
                class="img-fluid rounded-start h-100"
              />
            </div>
            <div class="col-lg d-md-flex">
              <div class="card-body">
                <div class="row">
                  <div class="p-2 col-sm-6">
                    <h4 class="card-subtitle mb-2">
                      <i class="far fa-list-alt fa-2x text-primary"></i> Save
                      Money
                    </h4>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                  <div class="p-2 col-sm-6">
                    <h4 class="card-subtitle mb-2">
                      <i class="far fa-list-alt fa-2x text-primary"></i> Better
                      Ideas
                    </h4>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="p-2 col-sm-6">
                    <h4 class="card-subtitle mb-2">
                      <i class="far fa-list-alt fa-2x text-primary"></i>
                      Collaboration
                    </h4>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                  <div class="p-2 col-sm-6">
                    <h4 class="card-subtitle mb-2">
                      <i class="far fa-list-alt fa-2x text-primary"></i> Easy To
                      Find
                    </h4>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
</section>
<section class="our-services mt-5">
  <h2 class="text-center mt-4"><u>OUR SERVICES</u></h2>
  <div class="row w-100">
    <div class="col-lg-3 col-sm-6 mt-2">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-map-marker-alt fa-2x mb-3 text-primary"></i>
          <h5 class="card-title">Find Places Anywhere In The World</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mt-2">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-users fa-2x mb-3 text-primary"></i>
          <h5 class="card-title">We Have Agents With Experience</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mt-2">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-home fa-2x mb-3 text-primary"></i>
          <h5 class="card-title">Buy Or Rent Beatiful Properties</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mt-2">
      <div class="card text-center">
        <div class="card-body">
          <i class="fas fa-list-ul fa-2x mb-3 text-primary"></i>
          <h5 class="card-title">With Agent Account You Can List Properties</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="people-saying mt-4">

      <div class=" mt-4">
        <h2 class="text-center mt-4"><u>WHAT PEOPLE ARE SAYING</u></h2>
        <!--card mission-->
        <mdb-carousel  [indicators]="true" [animation]="'fade'" [dark]="true">
          <mdb-carousel-item >
            <div class="d-block w-100" style="height: 29em" alt="..."></div>
            <div class="carousel-caption d-md-block mb-5">
              <img
                src="https://housekey.themeseason.com/assets/images/profile/adam.jpg"
                class="img-fluid img-cites rounded-circle d-none d-lg-block " style="width: 140px;height: 140px;"
                alt=""
              />
              <blockquote class="blockquote mt-4">
                <p>
                  <em>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempora ut ab sunt, minus explicabo distinctio, veritatis
                    tempore natus, eum in consequuntur odio obcaecati. Delectus
                    qui fuga nisi fugit natus ea!
                  </em>
                </p>
              </blockquote>
              <h5>MR. ADAM SANDLER</h5>
              <p>General Director</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" style="height: 29em" alt="..."></div>
            <div class="carousel-caption d-md-block mb-5">
              <img
                src="https://housekey.themeseason.com/assets/images/profile/ashley.jpg"
                class="img-fluid img-cites rounded-circle d-none d-lg-block " style="width: 140px;height: 140px;"
                alt=""
              />
              <blockquote class="blockquote mt-4">
                <p>
                  <em>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempora ut ab sunt, minus explicabo distinctio, veritatis
                    tempore natus, eum in consequuntur odio obcaecati. Delectus
                    qui fuga nisi fugit natus ea!
                  </em>
                </p>
              </blockquote>
              <h5>ASHLEY AHLBERG</h5>
              <p>Housewife</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" style="height: 29em" alt="..."></div>
            <div class="carousel-caption d-md-block mb-5">
              <img
                src="https://housekey.themeseason.com/assets/images/profile/bruno.jpg"
                class="img-fluid img-cites rounded-circle d-none d-lg-block " style="width: 140px;height: 140px;"
                alt=""
              />
              <blockquote class="blockquote mt-4">
                <p>
                  <em>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempora ut ab sunt, minus explicabo distinctio, veritatis
                    tempore natus, eum in consequuntur odio obcaecati. Delectus
                    qui fuga nisi fugit natus ea!
                  </em>
                </p>
              </blockquote>
              <h5>BRUNO VESPA</h5>
              <p>Blogger</p>
            </div>
          </mdb-carousel-item>
                    <mdb-carousel-item>
            <div class="d-block w-100" style="height: 29em" alt="..."></div>
            <div class="carousel-caption d-md-block mb-5">
              <img
                src="https://housekey.themeseason.com/assets/images/profile/julia.jpg"
                class="img-fluid img-cites rounded-circle d-none d-lg-block " style="width: 140px;height: 140px;"
                alt=""
              />
              <blockquote class="blockquote mt-4">
                <p>
                  <em>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempora ut ab sunt, minus explicabo distinctio, veritatis
                    tempore natus, eum in consequuntur odio obcaecati. Delectus
                    qui fuga nisi fugit natus ea!
                  </em>
                </p>
              </blockquote>
              <h5>MRS. JULIA ANISTON</h5>
              <p>Marketing Manager</p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>

</section>

<app-agents-slides [agent]="agent" ></app-agents-slides>